<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/anychart-base.min.js"></script>
    <script src="/js/mainPagesVos5.js"></script>
    <title>Часовые расходы ВОС5000</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-14">
            <h4>Часовые расходы ВОС5000</h4>
            <p><span id="current-date"></span></p>
            <div class="col-14 btn-group-sm">
                <a type="button" class="btn btn-outline-primary mr-1" href="/input/vos5">Ввод данных</a>
                <a type="button" class="btn btn-outline-primary mr-1" href="/report/summary">Сводный отчет</a>
                <a type="button" class="btn btn-outline-primary mr-1" href="/">На главную</a>
            </div>
            <div class="table-responsive-sm">
                <table id="dataTable" class="table table-compact table-bordered table-hover text-center table-sm">
                    <thead>
                    <tr>
                        <th>Время</th>
                        <th>V</br>часовой</th>
                        <th>V</br>обр.город</th>
                        <th>V</br>обр.ВОС15000</th>
                        <th>Итого приход воды</th>
                        <th>V</br>подача в город</th>
                        <th>Запас</br>в РЧВ</th>
                        <th>Рост запаса</br> в РЧВ расчетный</th>
                        <th>Рост запаса</br> в РЧВ фактический</th>
                        <th>Давление</br>подача в город</th>
                        <th>Давление</br>обр.город</th>
                        <th>Давление</br>обр.ВОС15000</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data:${dataVos5}">
                        <td th:text="${data.getDateT()}">-</td>
                        <td th:text="${data.getVolExtract()}">-</td>
                        <td th:text="${data.getVolBackCity()}">-</td>
                        <td th:text="${data.getVolBackVos15()}">-</td>
                        <td th:text="${data.getVolAll()}">-</td>
                        <td th:text="${data.getVolCiti()}">-</td>
                        <td th:text="${data.getCleanWaterSupply()}">-</td>
                        <td th:text="${data.getDeltaCleanWaterSupplyCalculated()}"
                        </td>
                        <td th:text="${data.getDeltaCleanWaterSupply()}"
                            th:class="${data.getDeltaCleanWaterSupply()} == 0 ? '' : (${data.getDeltaCleanWaterSupply()} > 0 ? '' : 'bg-danger text-white')">
                            -
                        </td>
                        <td th:text="${data.getPressureCity()}">-</td>
                        <td th:text="${data.getPressureBackCity()}">-</td>
                        <td th:text="${data.getPressureBackVos15()}">-</td>
                        <td><a th:href="@{/update/vos5/{id}(id=${data.getId()})}" class="btn btn-sm">E</a></td>
                    </tr>
                    </tbody>
                </table>
                <p> Страница будет обновлена через: <span id="refreshCounter">300</span> сек.</p>
            </div>
            <div id="graphic-container"></div>
        </div>
    </div>
</div>
</body>

</html>