<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <title>Ввод данных часового расхода ВОС5000</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="row g-3 col-10">
            <form id="myForm" th:action="@{/update/vos5/{id}(id=${id})}" method="POST">
                <h3>Коррекция данных часового расхода ВОС-5000</h3>
                <p><span id="current-date"></span></p>
                <div class="form-group col-7">
                    <input class="form-control" type="hidden" name="id" th:value="${entity.getId()}">
                    <label class="form-label" for="clean_water_supply">Clean water supply</label>
                    <input class="form-control" type="number" name="cleanWaterSupply" th:value="${entity.getCleanWaterSupply()}">
                    <label class="form-label" for="date">Date</label>
                    <input class="form-control" type="datetime-local" name="date" th:value="${entity.getDate()}">
                    <label class="form-label" for="delta_clean_water_supply">Delta clean water supply</label>
                    <input class="form-control" type="number" name="deltaCleanWaterSupply" th:value="${entity.getDeltaCleanWaterSupply()}">
                    <label class="form-label" for="pressure_back_city">Pressure back city</label>
                    <input class="form-control" type="number" name="pressureBackCity" th:value="${entity.getPressureBackCity()}">
                    <label class="form-label" for="pressure_back_vos15">Pressure back VOS15</label>
                    <input class="form-control" type="number" name="pressureBackVos15" th:value="${entity.getPressureBackVos15()}">
                    <label class="form-label" for="pressure_city">Pressure city</label>
                    <input class="form-control" type="number" name="pressureCity" th:value="${entity.getPressureCity()}">
                    <label class="form-label" for="vol_back_city">Vol back city</label>
                    <input class="form-control" type="number" name="volBackCity" th:value="${entity.getVolBackCity()}">
                    <label class="form-label" for="vol_back_vos15">Vol back VOS15</label>
                    <input class="form-control" type="number" name="volBackVos15" th:value="${entity.getVolBackVos15()}">
                    <label class="form-label" for="vol_citi">Vol city</label>
                    <input class="form-control" type="number" name="volCiti" th:value="${entity.getVolCiti()}">
                    <label class="form-label" for="vol_extract">Vol extract</label>
                    <input class="form-control" type="number" name="volExtract" th:value="${entity.getVolExtract()}">
                    <label class="form-label" for="station_id">Station ID</label>
                    <input class="form-control" type="number" name="stationId" th:value="${entity.getStationId()}" value="0">
                    <label class="form-label" for="user_id">User ID</label>
                    <input class="form-control" type="number" name="userId" th:value="${entity.getUserId()}" value="0">
                </div>
                <button type="submit" class="btn btn-primary">Записать</button>
            </form>
        </div>
    </div>
</div>
</body>

</html>