.dev {
    border: 1px solid red;
}

.delta-normal {
    color: black;
    background: none;
}

.delta-minus {
    background: #ff4000;
    color: #feffff;
}

.delta-plus {
    color: #acffac;
}

#graphic-container {
    height: 600px;
    background:gainsboro;
    padding: 0;
    margin: 0;
}
#graphic-container-pressure{
    height: 300px;
    background:gainsboro;
    padding: 0;
    margin: 0;
}
dataTable{

}