<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Средства администрирования</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h4>Средства администрирования</h4>
            <dl>
                <dd><a class="btn btn-sm btn-outline-primary " href="/admin/fullupdatesummary">Пересчет сводных отчетов за несколько дней</a></dd>
                <dd><a class="btn btn-sm btn-outline-primary" href="/admin/logview">Просмотр логов программы</a></dd>
            </dl>
            <a class="btn btn-sm btn-outline-primary" href="/">На главную</a>
        </div>
    </div>
</div>

</body>
</html>