<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мониторинг гидравлических режимов</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-10">
            <h4>Мониторинг гидравлических режимов</h4>
            <div th:if="${username!='неавторизаванный пользователь'}">Вы вошли как <b><span th:text="${username}"></span></b></div>
            <div class="btn-group-sm">
                <a href="/main/vos5" class="btn btn-outline-primary">Часовые расходы ВОС 5000</a>
                <a href="/main/vos15" class="btn btn-outline-primary">Часовые расходы ВОС 15000</a>
                <a href="/report/summary" class="btn btn-outline-primary">Cводный дневной отчет</a>
                <a href="/report" class="btn btn-outline-primary" >Прочие отчеты</a>
                <a th:if="${username=='неавторизаванный пользователь'}" href="/login"  class="btn btn-outline-primary" >Вход</a>
                <a th:if="${username!='неавторизаванный пользователь'}" href="/logout"  class="btn btn-outline-danger" >Выход</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>