<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <title>Часовые расходы ВОС5000</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-14">
                <h4 class="ml-auto mr-0">Часовые расходы ВОС5000. Дата: 01 января 2024 г</h4>
                <div class="col-14 btn-group">
                    <button type="button" class="btn btn-primary btn-sm mr-1">Ввод данных</button>
                    <button type="button" class="btn btn-primary btn-sm mr-1">Отчеты</button>
                    <button type="button" class="btn btn-primary btn-sm mr-1">Настройка</button>
                    <button type="button" class="btn btn-primary btn-sm mr-1">Выход</button>
                </div>
                <div class="table-responsive-sm">
                    <table class="table table-compact table-bordered table-hover text-center table-sm">
                        <thead>
                            <tr>
                                <th>Время</th>
                                <th>V</br>часовой</th>
                                <th>V</br>обр.город</th>
                                <th>V</br>обр.ВОС15000</th>
                                <th>Итого приход воды</th>
                                <th>V</br>подача в город</th>
                                <th>Запас</br>в РЧВ</th>
                                <th>Рост запаса</br> в РЧВ </th>
                                <th>Давление</br>подача в город</th>
                                <th>Давление</br>обр.город</th>
                                <th>Давление</br>обр.ВОС15000</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01:00</td>
                                <td>93</td>
                                <td>12</td>
                                <td>25</td>
                                <td>129,65</td>
                                <td>96</td>
                                <td>34</td>
                                <td class="bg-success text-white">2950</td>
                                <td>6,0</td>
                                <td>5,2</td>
                                <td>5,3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>