<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/shared.js"></script>
    <title>Часовые расходы ВОС5000</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-14">
            <h4 class="ml-auto mr-0">Часовые расходы ВОС5000.</h4><p><span id="current-date"></span></p>
            <div class="col-14 btn-group">
                <a type="button" class="btn btn-primary btn-sm mr-1" href="/input/vos5">Ввод данных</a>
                <a type="button" class="btn btn-primary btn-sm mr-1" href="/reports">Отчеты</a>
                <a type="button" class="btn btn-primary btn-sm mr-1" href="/setings">Настройка</a>
                <a type="button" class="btn btn-primary btn-sm mr-1" href="/logout">Выход</a>
            </div>
            <div class="table-responsive-sm">
                <table class="table table-compact table-bordered table-hover text-center table-sm">
                    <thead>
                    <tr>
                        <th>Время</th>
                        <th>V</br>часовой</th>
                        <th>V</br>обр.город</th>
                        <th>V</br>обр.ВОС15000</th>
                        <th>Итого приход воды</th>
                        <th>V</br>подача в город</th>
                        <th>Запас</br>в РЧВ</th>
                        <th>Рост запаса</br> в РЧВ</th>
                        <th>Давление</br>подача в город</th>
                        <th>Давление</br>обр.город</th>
                        <th>Давление</br>обр.ВОС15000</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each ="data:${dataVos5}">
                        <td th:text="${data.getDate()}">1</td>
                        <td th:text="${data.getVolExtract()()}">2</td>
                        <td th:text="${data.getVolBackCity()}">3</td>
                        <td th:text="${data.getVolBackVos15()}">4</td>
                        <td th:text="${data.getVolAll()}">5</td>
                        <td th:text="${data.getVolCiti()}">6</td>
                        <td th:text="${data.getCleanWaterSupply()}">7</td>
                        <td th:text="${data.getDeltaCleanWaterSupply()}" class="bg-success text-white">8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

</html>