<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.7.1.min.js"></script>
  <title>Отчеты </title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <nav class="navbar btn-group" >
          <a class="btn btn-outline-primary" href="/static">Кнопка</a>
          <a class="btn btn-outline-primary" href="/static">Кнопка</a>
          <a class="btn btn-outline-primary" href="/static">Кнопка</a>
          <a class="btn btn-outline-primary" href="/static">Кнопка</a>
          <a class="btn btn-outline-primary" href="/static">Кнопка</a>
        </nav>
      </div>
      <div id="report" class="col-md-6">
        
      </div>
    </div>
  </div>
</body>

</html>