<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <title>Ввод данных часового расхода ВОС5000</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="row g-3 col-10">
            <form id="myForm" action="/update/vos15" method="POST">
                <h3>Коррекция данных часового расхода ВОС-15000</h3>
                <p><span id="current-date"></span></p>
                <div class="form-group col-7">
                    <input class="form-control" type="hidden" name="id" th:value="${entity.getId()}" required>

                    <label class="form-label" for="date">Дата и время</label>
                    <input class="form-control" type="datetime-local" id="date" name="date" th:value="${entity.getDate()}" required>

                    <label class="form-label" for="volExtract">Объем добычи</label>
                    <input class="form-control" type="number" step="0.01" id="volExtract" name="volExtract" th:value="${entity.getVolExtract()}" required>

                    <label class="form-label" for="volLeftCity">Подача в город левая нитка</label>
                    <input class="form-control" type="number" step="0.01" id="volLeftCity"  name="volLeftCity" th:value="${entity.getVolLeftCity()}" required>

                    <label class="form-label" for="volRightCity">Подача в город правая нитка</label>
                    <input class="form-control" type="number" step="0.01" id="volRightCity"  name="volRightCity" th:value="${entity.getVolRightCity()}" required>

                    <label class="form-label" for="volCity">Подача в город</label>
                    <input class="form-control" type="number" step="0.01" id="volCity" name="volCity" th:value="${entity.getVolCity()}" disabled>


                    <label class="form-label" for="cleanWaterSupply">Запас воды в РЧВ м3</label>
                    <input class="form-control" type="number" step="0.01" id="cleanWaterSupply" name="cleanWaterSupply"
                           th:value="${entity.getCleanWaterSupply()}" required>

                    <label class="form-label" for="pressureCity">Давление трубопровода в город</label>
                    <input class="form-control" type="number" step="0.01" id="pressureCity" name="pressureCity"
                           th:value="${entity.getPressureCity()}" required>

                    <input class="form-control" type="number" step="0.01" hidden id="userId" name="userId" th:value="${entity.getUserId()}"
                           value="1" required>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary">Записать</button>
                    <a class="btn btn-danger" href="/main/vos15">Отмена</a></div>
                <script>
                    function updateField3() {
                        var field1 = document.getElementById('volLeftCity').value;
                        var field2 = document.getElementById('volRightCity').value;

                        if (!field1) {
                            field1 = 0;
                        }

                        if (!field2) {
                            field2 = 0;
                        }

                        var sum = parseInt(field1) + parseInt(field2);
                        document.getElementById('volCity').value = sum;
                    }
                    window.onload = function() {
                        document.getElementById('volLeftCity').addEventListener('change', updateField3);
                        document.getElementById('volRightCity').addEventListener('change', updateField3);
                    };
                </script>
            </form>
        </div>
    </div>
</div>
</body>

</html>