<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <title>Часовые расходы ВОС15000 (архив)</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="col-12">
                <h4>История часовых расходов по ВОС15000</h4>
                <nav class="btn-group-sm">
                    <a class="btn btn-outline-primary btn-sm" href="/report">Другие отчеты</a>
                    <a class="btn btn-outline-primary btn-sm" href="/">На главную</a>
                </nav>
            </div>
            <div id="report-form" class="col-12">
                <form class="col-4 inline">
                    <label class="form-label "><span th:text="${message}"></span></label>
                    <input class="form-control inline col-1" id="dateInput" th:value="${selectedDate}" type="date"
                           required name="date">
                    <script>
                        document.getElementById('dateInput').addEventListener('change', function () {
                            var date = this.value;
                            var url = window.location.protocol + '//' + window.location.host + window.location.pathname + '?date=' + date;
                            window.location.href = url;
                        });
                    </script>
                </form>
            </div>
            <div th:if="${dataExists}==true">
                <div class="table-responsive-sm">
                    <table id="dataTable" class="table table-compact table-bordered table-hover text-center table-sm">
                        <thead>
                        <th>Время</th>
                        <th>Добыча воды<br>со скважин</th>
                        <th>Подача в город<br>левая нитка</th>
                        <th>Подача в город<br>правая нитка</th>
                        <th>Подача в город</th>
                        <th>Запас<br>в РЧВ</th>
                        <th>Рост запаса<br> в РЧВ расчетный</th>
                        <th>Рост запаса<br> в РЧВ фактический</th>
                        <th>Давление<br>подачи в город</th>

                        </thead>
                        <tbody>
                        <tr th:each="data:${dataVos15}">
                            <td th:text="${data.getDateT()}"></td>
                            <td th:text="${data.getVolExtract()}"></td>
                            <td th:text="${data.getVolLeftCity()}"></td>
                            <td th:text="${data.getVolRightCity()}"></td>
                            <td th:text="${data.getVolCity()}"></td>
                            <td th:text="${data.getCleanWaterSupply()}"></td>
                            <td th:text="${data.getDeltaCleanWaterSupplyCalculated()}"></td>
                            <td th:text="${data.getCleanWaterSupply()+data.getDeltaCleanWaterSupplyCalculated()}"></td>
                            <td th:text="${data.getPressureCity()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-8" id="graphic-container"></div>
                    <div class="col-lg-4" id="graphic-container-pressure"></div>
                </div>
                <script src="/js/anychart-base.min.js"></script>
                <script src="/js/historyPagesVos15.js"></script>
            </div>
        </div>
    </div>
</div>
</body>
</html>