<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/anychart-base.min.js"></script>
    <script src="/js/mainPagesVos15.js"></script>
    <title>Часовые расходы ВОС5000</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-14">
            <h4>Часовые расходы ВОС15000. </h4>
            <p><span id="current-date"></span></p>
            <div class="col-14 btn-group-sm">
                <a type="button" class="btn btn-outline-primary btn-sm mr-1" href="/input/vos15">Ввод данных</a>
                <a type="button" class="btn btn-outline-primary btn-sm mr-1" href="/report/summary">Сводный отчет</a>
                <a type="button" class="btn btn-outline-primary btn-sm mr-1" href="/">На главную</a>
            </div>
            <div class="table-responsive-sm">
                <table id="dataTable" class="table table-compact table-bordered table-hover text-center table-sm">
                    <thead>
                    <tr>
                        <th>Время</th>
                        <th>Добыча воды<br>со скважин</th>
                        <th>Объем<br>подачи в город</th>
                        <th>Запас<br>в РЧВ</th>
                        <th>Рост запаса<br> в РЧВ расчетный</th>
                        <th>Рост запаса<br> в РЧВ фактический</th>
                        <th>Давление<br>подачи в город</th>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data:${dataVos15}">
                        <td th:text="${data.getDateT()}"></td>
                        <td th:text="${data.getVolExtract()}"></td>
                        <td th:text="${data.getVolCity()}"></td>
                        <td th:text="${data.getCleanWaterSupply()}"></td>
                        <td th:text="${data.getDeltaCleanWaterSupplyCalculated()}"></td>
                        <td th:text="${data.getDeltaCleanWaterSupply()}"
                            th:class="${data.getDeltaCleanWaterSupply()} == 0 ? '' : (${data.getDeltaCleanWaterSupply()} > 0 ? '' : 'bg-danger text-white')"></td>
                        <td th:text="${data.getPressureCity()}"></td>
                        <td><a th:href="@{/update/vos15/{id}(id=${data.getId()})}" class="btn btn-sm btn-outline-primary" title="Изменить">&#9998;</a></td>
                    </tr>
                    </tbody>
                </table>
                <p> Страница будет обновлена через: <span id="refreshCounter">300</span> сек.</p>
            </div>
            <div class="row">
                <div class="col-lg-8" id="graphic-container"></div>
                <div class="col-lg-4" id="graphic-container-pressure"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>